<!-- <div class="container-fluid">

  <div class="col-12  d-flex align-middle justify-content-center" id="content">
    <h2 class="text-center witt">Mis favoritos <br></h2>
    <br>

  

  </div>
</div>
<div> -->
<div class="" style="margin-top: 100px; background-image: url('assets/static/images/bg_1.jpg');">
  <h2 class="text-center witt" style="width:100%; margin: 0 auto" >Mis favoritos </h2>
  <br>
<div *ngIf="items">
  <app-recomendaciones 
  [items]="items"
  [showDelete] = "showDelete"
  [showFavo] = "showFavo"
  (listar)= "listar()"
  >
  </app-recomendaciones>
</div>
</div>
