.myBody{
  background-image: url("../../assets/bg_1.jpg");
}

.myContainer {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 200px;
    
  }

  #content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    visibility: none;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    position: relative;
    padding: 30px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 100 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    background:#ffffff;
  }

  .textarea{
    background-color: #f6f6f6 !important;
    border:none;
    border-bottom: 2px solid cornflowerblue;
    resize: vertical;
    border-radius: 4px;
    width:400px;
    height: 111px;
  }
  .botonDesp0{
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: -10px;
    height:20px; }

  .botonDesp{
    text-align: center;
    position: relative;
    left: -10px;
    height:20px; }
  

  .botonDesp1{
    text-align: left;
    position: relative;
    top: 35px;
    left: 5px;
    font-weight: normal;
    font-size: 18px;
    height: 0px;
    width: 30%;
    margin-left: -10px; }
    
  .botonDesp2{
    text-align: center;
    position: relative;
    top: 20px;
    left: 200px;
    font-weight: normal;
    font-size: 18px;
    height: 0px;
    width: 30%; }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      input[type=button], input[type=submit], input[type=reset]  {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 40px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
        background-color:   #39ace7;
      }
      
      input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
      }
      